[versions]
# Don't want to block those ones
setuptools=
zc.buildout=
# Those maybe
Cheetah = 2.2.1
Fabric = 1.8.0
Mako = 0.9.0
MarkupSafe = 0.18
Pillow = 3.1.0
Products.ZServerViews = 0.2.0
ZopeHealthWatcher = 0.9.0
buildout.threatlevel = 1.1
collective.recipe.zope2cluster = 1.1
ecdsa = 0.9
gocept.munin = 0.1
haufe.requestmonitoring = 0.4.0
munin.zope = 2.0
paramiko = 1.12.0
pycrypto = 2.6
rt.commands = 0.1.4
stxnext.log = 0.2.0
stxnext.pdb = 0.2.1
