[buildout]
extends =
    config/base.cfg

extensions +=
    mr.developer

parts +=
    instance
    i18ndude
    zopeskel
    test
    omelette

auto-checkout = *
sources = sources

[plone]
eggs+=
#    Products.PDBDebugMode
#    Products.PrintingMailHost
    plone.reload
    stxnext.pdb
zcml+=
    stxnext.pdb

# create bin/i18ndude command
[i18ndude]
unzip = true
recipe = zc.recipe.egg
eggs = i18ndude

# create bin/test command
[test]
recipe = zc.recipe.testrunner
defaults = ['--auto-color', '--auto-progress']
eggs =
    ${instance-settings:eggs}

# create ZopeSkel command
[zopeskel]
unzip = true
recipe = zc.recipe.egg
eggs =
    ZopeSkel
    ${instance-settings:eggs}

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance-settings:eggs}

[sources]
#collective.developermanual = git git://github.com/collective/collective.developermanual.git

