[buildout]
extensions =
    buildout.threatlevel

parts =
    zopepy
    zope2

extends =
    http://dist.plone.org/release/3.3.6/versions.cfg
    ../versions/base.cfg

find-links +=
    file://${buildout:directory}/pypi-local
    http://dist.plone.org/release/3.3.6
    http://dist.plone.org/thirdparty
    https://majid.info/python/threadframe/

allow-hosts =
    github.com
    majid.info
    *.python.org
    *.plone.org
    *.zope.org
    launchpad.net

show-picked-versions = true

versions = versions

# Configuration part for creating the files to be served
[config]
zeo-address = 8090
instance-address = 8080
instance1-address = 8081
debuginstance-address = 8080
system-user =
servername = plone

[plone]
eggs=
    Plone
    Pillow
zcml=

[zope2]
recipe = plone.recipe.zope2install
url = ${versions:zope2-url}

##############################################
#                                            #
#  BEHIND THIS LINE LIVES AN ANCIENT DRAGON  #
#         ENTER AT YOUR OWN RISK             #
#                                            #
##############################################

[instance-settings]
instance-clone = instance-settings
user = admin:admin
debug-mode = off
verbose-security = off
blob-storage = ${buildout:directory}/var/blobstorage
effective-user = ${config:system-user}
products = ${buildout:directory}/products
eggs =
    ${plone:eggs}
zcml =
    ${plone:zcml}
resources = ${buildout:directory}/resources
environment-vars =
    DISABLE_HAUFE_MONITORING_ON_PDB True
    PTS_LANGUAGES it en
    LANG it_IT.utf8
    TZ Europe/Rome
    zope_i18n_compile_mo_files true
zodb-cache-size = 100000

[zeo-instance-settings]
instance-clone = zeo-instance-settings
user = admin:admin
zope2-location = ${zope2:location}
zeo-client = True
zeo-client-cache-size = 500MB
zeo-address = ${zeoserver:zeo-address}
shared-blob = on
effective-user = ${config:system-user}
products = ${buildout:directory}/products
eggs =
    ${plone:eggs}
zcml =
    ${plone:zcml}
resources = ${buildout:directory}/resources
environment-vars =
    DISABLE_HAUFE_MONITORING_ON_PDB True
    PTS_LANGUAGES it en
    LANG it_IT.utf8
    TZ Europe/Rome
    zope_i18n_compile_mo_files true
zodb-cache-size = 100000

[instance]
recipe = plone.recipe.zope2instance
<= instance-settings
http-address = ${config:instance-address}

[zeoserver]
recipe = plone.recipe.zope2zeoserver
zope2-location = ${zope2:location}
zeo-address = ${config:zeo-address}
pack-days = 7
effective-user = ${config:system-user}

[instance1]
recipe = plone.recipe.zope2instance
<= zeo-instance-settings
http-address = ${config:instance1-address}

# You can uncomment this line to add an additional instance to the zeocluster
#[instance2]
#recipe = collective.recipe.zope2cluster
#<= zeo-instance-settings
#http-address = ${config:instance2-address}

[debuginstance]
recipe = collective.recipe.zope2cluster
<= zeo-instance-settings
http-address = ${config:debuginstance-address}
debug-mode = on
verbose-security = on

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance-settings:eggs}
interpreter = zopepy
scripts = zopepy

[versions]
Pillow=1.7.8
distribute=0.6.49
zc.buildout=1.7.1
mr.developer = 1.33
