[buildout]
extensions =
    buildout.threatlevel

parts =
    zope2
    zopepy
    productdistros
    instance
    PIL

extends = 
    http://dist.plone.org/release/3.3.2/versions.cfg


find-links +=
    file://${buildout:directory}/pypi-local
    http://pypi.python.org
    http://dist.plone.org/release/3.2.2
    http://dist.plone.org/thirdparty

allow-hosts =
    github.com
    www.majid.info
    *.python.org
    *.plone.org
    *.zope.org
    launchpad.net

versions = versions


# Configuration part for creating the files to be served
[config]
zeo-address = 8090
instance1-address = 8081
debuginstance-address = 8080
system-user =
servername = plone

[plone]
eggs=
    PIL
    Plone
    Pillow
zcml=

[instance]
# For more information on this step and configuration options see:
# http://pypi.python.org/pypi/plone.recipe.zope2instance
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
user = admin:admin
http-address = 8080
#debug-mode = on
#verbose-security = on
# If you want Zope to know about any additional eggs, list them here.
# This should include any development eggs you listed in develop-eggs above,
# e.g. eggs = Plone my.package
eggs =
    Plone
    ${plone:eggs}

# If you want to register ZCML slugs for any packages, list them here.
# e.g. zcml = my.package my.other.package
zcml =
    ${plone:zcml}

products =
    ${buildout:directory}/products
    ${productdistros:location}

[instance-settings]
user = admin:admin
debug-mode = off
verbose-security = off
blob-storage = ${buildout:directory}/var/blobstorage
effective-user = ${config:system-user}
products = ${buildout:directory}/products
eggs =
    ${plone:eggs}
zcml =
    ${plone:zcml}
resources = ${buildout:directory}/resources
environment-vars =
    PTS_LANGUAGES it en
    LANG it_IT.utf8
    TZ Europe/Rome
    zope_i18n_compile_mo_files true

[zopepy]
# For more information on this step and configuration options see:
# http://pypi.python.org/pypi/zc.recipe.egg
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
extra-paths = ${zope2:location}/lib/python
scripts = zopepy

[versions]
# Version pins for new style products go here
plone.recipe.zope2instance = 3.6

[zope2]
# For more information on this step and configuration options see:
# http://pypi.python.org/pypi/plone.recipe.zope2install
recipe = plone.recipe.zope2install
fake-zope-eggs = true
url = ${versions:zope2-url}

# Use this section to download additional old-style products.
# List any number of URLs for product tarballs under URLs (separate
# with whitespace, or break over several lines, with subsequent lines
# indented). If any archives contain several products inside a top-level
# directory, list the archive file name (i.e. the last part of the URL,
# normally with a .tar.gz suffix or similar) under 'nested-packages'.
# If any archives extract to a product directory with a version suffix, list
# the archive name under 'version-suffix-packages'.
[productdistros]
# For more information on this step and configuration options see:
# http://pypi.python.org/pypi/plone.recipe.distros
recipe = plone.recipe.distros
urls =
nested-packages =
version-suffix-packages =

[PIL]
recipe = zc.recipe.egg
egg = PIL==1.1.6
find-links = http://dist.repoze.org/
